---
import Layout from "../layouts/Layout.astro";
import BriefcaseIcon from "../icons/Briefcase.astro";
import CodeIcon from "../icons/Code.astro";
import Experience from "../components/Experience.astro";
import SectionContainer from "../components/SectionContainer.astro";
import Projects from "../components/Projects.astro";
import Hero from "../components/Hero.astro";
import TitleSection from "../components/TitleSection.astro";
import ProfileCheck from "../icons/ProfileCheck.astro";
import AboutMe from "../components/AboutMe.astro";
---

<Layout
  title="Porfolio de ferrmoldev - Creador de aplicaciones móviles con Flutter y Desarrollador Web"
  description="Desarrollador Web y creador de aplicaciones móviles con Flutter">
  <main class="px-4">
    <SectionContainer class="py-16 md:py-36">
      <Hero />
    </SectionContainer>
    <div class="space-y-24">
      <SectionContainer id="experiencia">
        <TitleSection>
          <BriefcaseIcon class="size-8" />
          Experiencia laboral
        </TitleSection>
        <Experience />
      </SectionContainer>

      <SectionContainer id="proyectos">
        <TitleSection>
          <CodeIcon class="size-7" />
          Proyectos
        </TitleSection>
        <Projects />
      </SectionContainer>

      <SectionContainer id="sobre-mi">
        <TitleSection>
          <ProfileCheck class="size-8" />
          Sobre mí
        </TitleSection>
        <AboutMe />
      </SectionContainer>
    </div>
  </main>
</Layout>
