---
const personalImageAlt = "Fer";
import Badge from "../components/Badge.astro";
import LinkedInIcon from "../icons/LinkedIn.astro";
import MailIcon from "../icons/Mail.astro";
import SocialPill from "../components/SocialPill.astro";
---

<div class="max-w-xl">
  <div class="flex gap-4 mb-4">
    <img
      class="rounded-full shadow-lg h-16"
      src="/logo.jpg"
      alt={personalImageAlt}
    /><a
      href="https://linkedin.com/in/ferrmoldev/"
      target="_blank"
      rel="noopener"
      class="flex items-center transition md:justify-center md:hover:scale-105">
      <Badge>Disponible para trabajar</Badge>
    </a>
  </div>
  <h1
    class="text-4xl font-bold tracking-tight text-gray-800 sm:text-5xl dark:text-white">
    Hola, soy Fer 游녦
  </h1>
  <p
    class="mt-6 text-xl text-gray-800 dark:[&>strong]:text-yellow-400 [&>strong]:text-blue-600 [&>strong]:font-semibold dark:text-gray-300">
    +5 a침os de experiencia. <strong
      >Creador de aplicaciones m칩viles y Desarrollador Web
    </strong> de C칩rdoba, Espa침a 游쀯릖. Especializado en Flutter y Web.
  </p>
  <nav class="flex flex-wrap gap-4 mt-8">
    <SocialPill href="mailto:ferrmoldev@gmail.com">
      <MailIcon class="size-4" />
      Cont치ctame
    </SocialPill>
    <SocialPill href="https://linkedin.com/in/ferrmoldev/">
      <LinkedInIcon class="size-4" />
      LinkedIn
    </SocialPill>
  </nav>
</div>
